<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30587784014-tgugtort7r6965fiu83ctqm769hshg9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30587784014-tgugtort7r6965fiu83ctqm769hshg9b</string>
	<key>API_KEY</key>
	<string>AIzaSyCqqEn_doVtaFMfRSeKfzBBNqaW-AodKGE</string>
	<key>GCM_SENDER_ID</key>
	<string>30587784014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterchatapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-95378</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-95378.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30587784014:ios:3e32490f048364c13dec1f</string>
</dict>
</plist>